<!-- properties/list.html -->
{% extends "core/base.html" %}
{% load humanize %}

{% block page_title %} Proper {% endblock page_title %}

{% block page_header %}Our Properties{% endblock page_header %}

{% block content %}

<div class="row">
{% for prop in object_list %}
    <div class="col">
        <div class="card" style="width: 12rem;">
            <div class="card-body">
                <img class="card-img-top" src="{{ prop.picture_url }}" alt="Card image cap">
                <h5 class="card-title">{{ prop.prop_type }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${{ prop.price|intcomma }}</h6>
                <p class="card-text">{{ prop.description }}</p>
                <a href="#" class="card-link-bottom">{{ prop.nearest_elementary }}</a>
                <a href="{% url 'properties:detail' prop.pk %}" class="card-link-bottom">check it out</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}